# DATABASE
DB_URL = your-db-url
REDIS_URL = your-redis-url

# GOOGLE PROVIDER
GOOGLE_CLIENT_ID = your-google-client-id

# URLS
CKRET_URL = your-frontend-url
CKRET_LOGO_URL = your-app-logo-url

# CLOUDINARY
CLOUDINARY_CLOUD_NAME = your-cloudinary-cloud-name
CLOUDINARY_API_KEY = your-cloudinary-api-key
CLOUDINARY_API_SECRET = your-cloudinary-api-secret
CLOUDINARY_FOLDER = your-cloudinary-folder

# OTHERS
NODE_ENV = dev
JWT_SECRET = your-jwt-secret
ENCRYPTION_KEY = your-encryption-key
ENABLE_CACHING = boolean
