# JWT
JWT_SECRET = your-jwt-secret

# DATABASE
DB_NAME = your-db-name
DB_CONNECTION_STRING = your-db-connection-string

# URLS
CKRET_URL = your-frontend-url
CKRET_LOGO_URL = your-app-logo-url

# CLOUDINARY
CLOUDINARY_CLOUD_NAME = your-cloudinary-cloud-name
CLOUDINARY_API_KEY = your-cloudinary-api-key
CLOUDINARY_API_SECRET = your-cloudinary-api-secret
CLOUDINARY_FOLDER = your-cloudinary-folder

# ENCRYPTION
ENCRYPTION_KEY = your-encryption-key
